<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_PATH" value="logs/"/>

    <property name="PATTERN" value="%-40(%date{HH:mm:ss.SSS} [%thread]) %-5level %logger{15} - %M - %msg %n"/>
    <property name="PATTERNMINI" value="%-15(%date{HH:mm:ss.SSS}) %msg %n"/>
    <property name="MAX_HISTORY" value="36"/>
    <property name="ROLLOVER_RULE" value="%d{yyyy-MM-dd_HH}"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/tms.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/tms.${ROLLOVER_RULE}.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>